body {
  background-image: url("../images/golf_green_main_image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
  width: 100%;
  text-align: center;
}

h1 {
  font-weight: strong;
  font-size: 5em;
  color: blue;
  margin-top: 4%;
}

p {
  font-size: 1.5em;
  color: white;
  margin-bottom: 0%;
}

strong {
  color: green;
}

/* ALL BUTTONS ON EACH PAGE OF GAME */
button {
  margin-top: 3%;
  font-size: 2em;
  background-color: white;
  color: green;
  border-radius: 10%;
}


/* SECOND PAGE OF GAME STYLE */

.trivia-game {
  width: 100%;
  text-align: center;
}

h2 {
  font-weight: strong;
  font-size: 3em;
  color: blue;
  margin-top: 4%;
}

.questions {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  background-color: rgb(192, 227, 238);
  padding-right: 3%;
}

.q1 {
  margin-top: 2%;
  padding-top: 3%;
}

li {
  list-style-type: none;
  /* text-align: left: */
}

input {
  margin: .4rem;
}
